## PNPM related ###############
## https://pnpm.io/npmrc      #
###############################

## See https://gist.github.com/belgattitude/838b2eba30c324f1f0033a797bab2e31#recommended-npmrc

# Auto install peers should be false to avoid downloading
# extraneous deps. If the install fails, try first to explicitly add
# the missing deps in your package. Set it to true at last resort
# (when the problem comes from upstream dependencies). The best is false.
# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=false

# default to 'lowest' in v8.5.0
# set to highest for reasons specified here: https://github.com/pnpm/pnpm/issues/6463
# https://pnpm.io/npmrc#resolution-mode
resolution-mode=highest

package-manager-strict-version=false

link-workspace-packages=true

# allows using `@batijs/*` package across the whole project without manually adding them as `devDependencies`,
# reducing the burden of importing across boilerplates
shamefully-hoist=true
hoist-pattern[]=@batijs/*
