name: Checks

on:
  pull_request:
  push:
    # Ensures cache is computed on main branch so that it can be reused on all PRs
    branches: [ "main" ]

concurrency:
  group: checks-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-and-check-types:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ["20", "22"]
      fail-fast: false

    name: Lint & Typecheck - node@${{ matrix.node }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - name: mkdir temp folder
        run: mkdir -p ${{ runner.temp }}/bati-cache

      - uses: actions/cache/restore@v5
        name: Setup Turborepo cache
        with:
          path: .turbo
          key: ${{ runner.os }}-${{ matrix.node }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node }}-turbo-

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm run build

      - name: Run check types
        run: pnpm run check-types

      - name: Run lint
        run: pnpm run lint
