name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - 'website/**'

concurrency:
  group: preview-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy-preview:
    # If it's a PR from within the same repo, deploy to a preview page
    if: github.repository_owner == 'batijs' && github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build dependencies
        run: pnpm run build

      - name: Build website
        run: pnpm run build:pages
        working-directory: website
        env:
          BASE: /pr-preview/pr-${{ github.event.number }}/

      - uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./website/dist/client
          preview-branch: gh-pages
          umbrella-dir: pr-preview
          action: auto
          token: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
          deploy-repository: batijs/batijs.github.io
          custom-url: batijs.dev
