on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string

concurrency:
  group: tests-entry-os-${{ inputs.os }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 20

jobs:
  suite:
    runs-on: ${{ inputs.os }}

    name: ${{ inputs.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'

      - name: mkdir temp folder
        run: mkdir -p ${{ runner.temp }}/bati-cache

#      - name: Cache for Turbo
#        uses: rharkor/caching-for-turbo@v1.8

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm run build

      - name: Run tests
        run: pnpm run test

      - name: Deploy CLI locally
        run: pnpm deploy --prod --filter=./packages/cli ./bati-cli

      - name: Archive Bati CLI
        uses: actions/upload-artifact@v6
        with:
          name: bati-cli-${{ inputs.os }}-${{ env.NODE_VERSION }}
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          path: ./bati-cli/dist/*

      - name: Deploy tests locally
        run: pnpm deploy --prod --filter=./packages/tests ./bati-tests

      - name: Archive Bati tests
        uses: actions/upload-artifact@v6
        with:
          name: bati-tests-${{ inputs.os }}-${{ env.NODE_VERSION }}
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          path: ./bati-tests/dist/*

      - name: Pack tests-utils
        run: pnpm pack
        working-directory: ./packages/tests-utils

      - name: Archive tests-utils
        uses: actions/upload-artifact@v6
        with:
          name: tests-utils-${{ inputs.os }}-${{ env.NODE_VERSION }}
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          path: ./packages/tests-utils/batijs-tests-utils-*.tgz

      - name: Archive tests files
        uses: actions/upload-artifact@v6
        with:
          name: tests-files-${{ inputs.os }}-${{ env.NODE_VERSION }}
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          path: ./packages/tests/tests/*
