# Step 2
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      node:
        required: true
        type: number
      fast:
        type: boolean
jobs:
  monorepo:
    runs-on: ${{ inputs.os }}

# Debug discrepancies between published package and local one
#    services:
#      verdaccio:
#        # See https://github.com/actions/runner/issues/822#issuecomment-1524826092
#        image: ${{ (matrix.os == 'ubuntu-latest') && 'verdaccio/verdaccio' || '' }}
#        ports:
#          - 4873:4873

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node }}

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: mkdir temp folder
        run: mkdir -p ${{ runner.temp }}/bati-cache

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ inputs.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ inputs.os }}-pnpm-store-

      - name: Cache for Turbo
        uses: rharkor/caching-for-turbo@v1.5

#      - name: Install global dependencies
#        if: matrix.os == 'ubuntu-latest'
#        run: pnpm install --global npm-cli-login

#      - name: Login to verdaccio
#        if: matrix.os == 'ubuntu-latest'
#        run: npm-cli-login
#        env:
#          NPM_USER: bati
#          NPM_PASS: bati
#          NPM_EMAIL: bati@example.com
#          NPM_REGISTRY: http://localhost:4873

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm run build

#      - name: Release in local repo
#        if: matrix.os == 'ubuntu-latest'
#        run: pnpm run release:local

      - name: Run tests
        run: pnpm run test

      - name: Deploy CLI locally
        run: pnpm deploy --prod --filter=./packages/cli ./bati-cli

      - name: Archive Bati CLI
        uses: actions/upload-artifact@v4
        with:
          name: bati-cli-${{ inputs.os }}-${{ inputs.node }}
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          path: ./bati-cli/dist/*

      - name: Deploy tests locally
        run: pnpm deploy --prod --filter=./packages/tests ./bati-tests

      - name: Archive Bati tests
        uses: actions/upload-artifact@v4
        with:
          name: bati-tests-${{ inputs.os }}-${{ inputs.node }}
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          path: ./bati-tests/dist/*

      - name: Pack tests-utils
        run: pnpm pack
        working-directory: ./packages/tests-utils

      - name: Archive tests-utils
        uses: actions/upload-artifact@v4
        with:
          name: tests-utils-${{ inputs.os }}-${{ inputs.node }}
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          path: ./packages/tests-utils/batijs-tests-utils-*.tgz

      - name: Archive tests files
        uses: actions/upload-artifact@v4
        with:
          name: tests-files-${{ inputs.os }}-${{ inputs.node }}
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
          path: ./packages/tests/tests/*

      - name: List e2e tests
        id: list-e2e
        run: pnpm run test:e2e list ${{ inputs.fast && '--workers 1 --filter=react,h3' || '--workers 5' }}
        env:
          TEST_AUTH0_CLIENT_ID: ${{ secrets.TEST_AUTH0_CLIENT_ID }}
          TEST_AUTH0_ISSUER_BASE_URL: ${{ secrets.TEST_AUTH0_ISSUER_BASE_URL }}
          TEST_FIREBASE_ACCOUNT: ${{ secrets.TEST_FIREBASE_ACCOUNT }}
          TEST_FIREBASE_USER_UID: ${{ secrets.TEST_FIREBASE_USER_UID }}
          TEST_GITHUB_CLIENT_ID: ${{ secrets.TEST_GITHUB_CLIENT_ID }}
          TEST_GITHUB_CLIENT_SECRET: ${{ secrets.TEST_GITHUB_CLIENT_SECRET }}

    outputs:
      test-matrix: ${{ steps.list-e2e.outputs.test-matrix }}

  generated:
    needs: monorepo
    strategy:
      fail-fast: false
      matrix:
        test-matrix: ${{ fromJson(needs.monorepo.outputs.test-matrix) }}
    name: "Trigger e2e tests: Group ${{ matrix.test-matrix[0] }}"

    uses: ./.github/workflows/tests-generated.reusable.yml
    secrets: inherit
    with:
      entry: ${{ matrix.test-matrix[1] }}
      os: ${{ inputs.os }}
      node: ${{ inputs.node }}
